*{
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 20px;
    font-family:sans-serif ;
    font-weight: lighter;
}
h2{
    font: bont 14px sans-serif; 
}
header,section, footer, aside,nav, article, hgroup{
    display: block;
} 
body{
    text-align: center;
}
.agrupar{
    width: 960px;
    border: 1px solid black;
    margin: 10px auto; 
}
.cabecera{
    background:#fffbb9;
    border: 1px solid #99999999;
    padding: 20px;
} 
.cabecera h1{
    text-align: left;
}
.menu{ 
   background: #ccc ; 
   padding: 5px 15px; 
   text-align: left;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;

}

.seccion {
    margin: 20px;
    width: 600px;
    border: 1px solid black ;
    float: left;
    background: yellow;
} 

.columna{
    width: 200px;
    border: 1px solid black;
    float: left;
    background: yellow;
}

.pie{
    clear: both;
}